In [3]:
import pandas as pd

In [6]:
df = pd.read_excel('data/Original_Data.xlsx')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59776 entries, 0 to 59775
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   dunsNum            59776 non-null  int64
 1   dunsName           59776 non-null  object
 2   county             59776 non-null  object
 3   streetAddress      59734 non-null  object
 4   city               59776 non-null  object
 5   STATE              59776 non-null  object
 6   zip                59776 non-null  int64
 7   phone              57162 non-null  float64
 8   executiveContact1  59246 non-null  object
 9   executiveContact2  15152 non-null  object
 10  isWomanOwned       5 non-null      float64
 11  MinorityOwnedDesc  2 non-null      object
dtypes: float64(2), int64(2), object(8)
memory usage: 5.5+ MB

In [13]:
df['STATE'].value_counts()

CA    10048
TX     6259
FL     4472
NY     2892
VA     2311
IL     2034
NJ     1994
GA     1976
NC     1846
PA     1735
MD     1687
MI     1466
CO     1454
OH     1424
AZ     1419
WA     1208
MN     1068
MA      949
TN      795
AL      788
MO      764
AK      761
IN      735
OR      713
WI      692
SC      675
LA      638
NM      596
OK      586
CT      580
NV      578
UT      437
KY      377
IA      364
KS      340
DC      318
HI      305
MS      292
ID      290
NE      272
AR      246
MT      197
NH      176
DE      164
SD      149
RI      146
WV      129
ME      123
ND      119
WY      107
VT       68
PR       14
Name: STATE, dtype: int64

In [15]:
df['city'].value_counts()

HOUSTON          1047
NEW YORK          764
SAN ANTONIO       581
MIAMI             578
LOS ANGELES       513
                 ...
MONSON              1
PYLESVILLE          1
SALLIS              1
NORTH BALDWIN       1
BODEGA BAY          1
Name: city, Length: 6473, dtype: int64